.Blur {
    filter: blur(2px);
}

.calendar {
    height: 100vh;

}

.fc-toolbar-title {
    text-transform: capitalize;
}

.hide {
    display: none;
}

.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vw;
}

.buttonClose {
    font-size: 30px;
    padding: .5vw 2vw;
    background-color: #00255C;
    color: white;
    border: 0;
    border-radius: 30px;
}

.bg-event {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 3vh;
    gap: 1vw;
    border-radius: 10px;
}


.calendarView {
    width: 70vw;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.363);
    border-radius: 30px;
}

.calendarSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendarProfesor {
    padding: 1vw;
    background-color: #B5D8EB;
}

.descriptionActivities {
    font-size: 24px;
    text-align: justify;
}

.titleDescription {
    font-size: 30px;
}

.buttonCancelDescription {
    display: flex;
    justify-content: center;
}

.fc-event {
    background-color: rgb(243, 44, 9);
    border-radius: 20px;
    border: 0;
    padding: .2vw;
    cursor: pointer;
}


.filtrerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.40);
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.listAll{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@keyframes animationFiltrerExit {
    0% {
        scale: 1;
        opacity: 1;
    }

    25% {
        scale: 1.2;
        opacity: .7;
    }

    100% {
        scale: 0;
        opacity: 0;
    }
}

.containFiltrer {
    padding: 20px;
    background-color: white;
    width: 35%;
    border-radius: 30px;
}

.listChecked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation {
    animation: animationFiltrerExit;
    animation-duration: .6s;
}

.notFiltrerForm {
    display: none;
}


.viewAllCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.listFiltrer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    font-size: 30px;
    padding: 1vw;
    overflow: scroll;
    overflow-x: hidden;
    gap: 1vw;
}


.listFiltrer::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.listFiltrer::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #C0C9CA;
}

.listFiltrer::-webkit-scrollbar-track:hover {
    background-color: #BEC6C8;
}

.listFiltrer::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

.listFiltrer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #757575;
}

.listFiltrer::-webkit-scrollbar-thumb:hover {
    background-color: #646464;
}

.listFiltrer::-webkit-scrollbar-thumb:active {
    background-color: #A096A3;
}

.aceptButtonFiltrer {
    font-size: 30px;
    padding: .5vw 2vw;
    background-color: #00255C;
    color: white;
    border: 0;
    border-radius: 30px;
    width: 50%;
}


.buttonFiltrer {
    font-size: 28px;
    padding: .5vw 1vw;
    width: 20%;
    background-color: #00255C;
    color: white;
    border: 0;
    border-radius: 30px;
}

.inputCheckbox {
    display: flex;
    gap: .5vw;
    align-items: center;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.divFiltrerButton {
    display: flex;
    justify-content: start;
    padding: 1vw;
}

.fc-daygrid-day-events {
    text-align: center;
}

@media screen and (max-width:1248px) {
    .bg-event {
        width: 35%;
    }

    .containFiltrer {
        width: 50%;
    }

    .fc .fc-toolbar-title,
    .buttonFiltrer {
        font-size: 1.5em;
    }

    .fc-col-header-cell-cushion,
    .fc-daygrid-day-number {
        font-size: .8em;
    }

}

@media screen and (max-width:1024px) {

    .fc .fc-toolbar-title,
    .buttonFiltrer {
        font-size: 1.5em;
    }

    .fc-button:not(:disabled) {
        font-size: .8em;
    }

    .fc-button:disabled {
        font-size: .8em;
    }

    .calendarView {
        width: 90%;
    }

}



@media screen and (max-width:768px) {
    .aceptButtonFiltrer{
        font-size: 1.5rem;
    }
    .filtrerForm {
        justify-content: flex-start;
        padding-top: 50px;
    }

    .containFiltrer {
        width: 60%;
    }

    .titleFiltrer {
        font-size: 1.7rem;
    }

    .inputCheckbox {
        font-size: 1.5rem;
    }

    .fc-day {
        font-size: 16px;
    }

    .viewAllCalendar {
        height: 80vh;
    }
}

@media screen and (max-width:650px) {

    .containFiltrer {
        width: 80%;
    }

    .titleFiltrer {
        font-size: 1.5rem;
    }

    .inputCheckbox {
        font-size: 1.2rem;
    }

    .fc .fc-toolbar-title,
    .buttonFiltrer {
        font-size: 1em;
    }

    .fc-button:not(:disabled) {
        font-size: .6em;
    }

    .fc-button:disabled {
        font-size: .6em;
    }

    .fc-day {
        font-size: 12px;
    }
}

@media screen and (max-width:375px) {

    .fc .fc-toolbar-title {
        font-size: .9em;
    }
    .buttonFiltrer {
        font-size: .7em;
    }

    .fc-button:not(:disabled) {
        font-size: .5em;
    }

    .fc-button:disabled {
        font-size: .5em;
    }

    .fc-media-screen {
        height: 40vh;
    }

    .containFiltrer {
        width: 90%;
    }

    .titleFiltrer {
        font-size: 1.2rem;
    }

}