.exit {
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: center;
}

.warning {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: center;

}

@keyframes exitAnimation {
    0% {
        transform: translateY(-50vh);
    }

    100% {
        transform: translateY(0);
    }
}

.cancelButton:hover {
    background-color: #5EA9D4;
    color: white;
    transform: scale(.9);
    transition: all .3s ease;
}

.aceptButton:hover {
    background-color: #FF0000;
    color: white;
    transform: scale(.9);
    transition: all .3s ease;
}

.windonws {
    background-color: #262626;
    width: 40vw;
    padding: 3vw;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    animation-name: exitAnimation;
    animation-duration: .3s;

}

.textExit {
    text-align: center;
    display: flex;
    justify-content: center;
}

.textExit>p {
    width: 90%;
    font-size: 50px;
}

.buttonsExit {
    padding: 1vw .5vw;
    background-color: white;
    color: black;
    width: 40%;
    font-size: 30px;
    border-radius: 40px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.buttonsExitWindows {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.cancel {
    display: none;
}

.iconExit{
    display: none;
}

@media screen and (max-width:1440px) {

    .textExit>p {
        width: 100%;
        font-size: 34px;
    }

    .buttonsExit {
        font-size: 25px;
    }
}

@media screen and (max-width:1054px) {

    .textExit>p {
        font-size: 32px;
    }

    .windonws {
        width: 50%;
    }
}

@media screen and (max-width:768px) {

    .textExit>p {
        font-size: 26px;
    }
    .buttonsExit{
        font-size: 20px;
    }
}

@media screen and (max-width:625px) {
    .windonws{
        width: 70%;
        height: 25vh;
        justify-content: center;
    }
}

@media screen and (max-width:450px) {
    .buttonText{
        display: none;
    }
    .svgExit{
        width: 40px;
    }
    .iconExit{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonsExit{
        padding: .5vw .5vw;
    }
    .textExit>p {
        font-size: 20px;
    }
}