.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1vw;
    color: white;
    gap: 3vw;
    align-items: center;
    justify-content: center ;
}

.inputNumber::-webkit-inner-spin-button, 
.inputNumber::-webkit-outer-spin-button,
.inputSearch::-webkit-inner-spin-button,
.inputSearch::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}

.input::placeholder{
    color: rgba(255, 255, 255, 0.671);
}

.inputNew{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.inputNumber{
    background: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid white;
    width: 80%;
    height: 3vw;
    color: white;
    font-size: 32px;
    padding: 5px;
    padding-left: 0;
}

.input{
    background: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid white;
    width: 45%;
    height: 3vw;
    color: white;
    font-size: 32px;
    padding: 5px;
    padding-left: 0;
}

.list{
    background: none;
    outline: none;
    border: 0;
    color: white;
    height: 3vw;
    width: 45%;
    border-bottom: 2px solid white;
    font-size: 32px;
}

.select{
    background-color: #1C1D21;
}

.submit{
    border-radius: 40px;
    width: 70%;
    height: 8vh;
    font-weight: bold;
    border: 0;
    font-size: 30px;
    background-color: white;
}

.titleForm{
    font-size: 80px;
}

@media (max-width:1300px) {
    .submit,.input,.inputNumber,.list{
        font-size: 24px;
    }
    .titleForm{
        font-size: 70px;
    }
}

@media (max-width:1024px){
    .submit,.input,.inputNumber,.list{
        font-size: 20px;
    }
    .titleForm{
        font-size: 50px;
    }
    .submit{
        height: 6vh;
    }

}

@media (max-width:900px) {
    .form{
        padding-top: 10vh;
        width: 80%;
        gap: 5vw;
    }
    .submit{
        height: 5vh;
    }
    .input,.inputNumber,.list{
        height: 5vw;
    }
}

@media (max-width:650px) {
    .submit,.input,.inputNumber,.list{
        font-size: 18px;
    }
    .titleForm{
        font-size: 40px;
    }  
    .form{
        width: 100%;
        gap: 4vh;
    }
}

@media (max-width:425px) {
    .input,.inputNumber,.list{
        height: 7vw;
        font-size: 14px;
    }
}

