.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
}

.svgLogout {
    width: 40px;
    height: 40px;
}

.blue {
    background-color: #E4F1F8;
}

.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
}

.svgHeader {
    display: none;
}

.active {
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

.active>a {
    color: white;
}

.link:hover {
    background-color: black;
    color: white;
    transition: all .5s ease;
}

.logoHeader {
    width: 20%;
}

.links {
    list-style: none;
    display: flex;
    gap: 3vw;
    padding: .9vw;
    font-size: 24px;
    width: 60%;
    justify-content: end;
    align-items: center;
}

.closeHeader {
    display: flex;
}

.buttonHeaderOpen,
.buttonHeaderClose {
    display: none;
    background: none;
    outline: none;
    border: 0;
}

.backHeader {
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.26);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.logoutDesktop{
    display: none;
}

@media (max-width:1300px) {
    .links {
        font-size: 20px;
        width: 70%;
    }
}

@media (max-width:1024px) {
    .links {
        font-size: 18px;
        width: 70%;
    }
}

@keyframes animationHeader {
    0% {
        opacity: .7;
        transform: translateX(50vw);
    }

    75% {
        transform: translateX(-5vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width:1024px) {

    .svgHeader {
        display: block;
        width: 40px;
        height: 40px;
    }

    .logoutDesktop{
        display: block;
    }

    .active {
        background-color: #A6D0E7;
    }

    .closeHeader {
        display: none;
    }

    .viewHeader {
        display: block;
    }

    .buttonHeaderOpen,
    .buttonHeaderClose {
        display: block;
    }

    .links {
        flex-direction: column;
        gap: 2vw;
        position: fixed;
        right: 0;
        top: 0;
        justify-content: start;
        z-index: 4;
        height: 100vh;
        width: 50vw;
        padding: 2vw;
        background: #E4F1F8;
        animation-name: animationHeader;
        animation-duration: .3s;
    }

    .linksHeaderli {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        gap: .5vw;
    }

    .link {
        text-align: justify;
    }

    .buttonHeaderClose {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .linksHeaderli>svg {
        display: block;
    }
}

@media (max-width:650px) {
    .links {
        font-size: 14px;
        width: 100%;
        align-items: center;
        max-height: 100vh;
    }

    .link {
        font-size: 20px;
    }

    .linksHeaderli {
        flex-direction: column;
        width: 50%;
        height: 20vh;
        font-size: 28px;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    .active {
        border-radius: 10px 30px;
        padding: 0;
    }

    .linksHeaderli>svg {
        font-size: 20px;
    }

    .buttonHeaderClose {
        display: flex;
        justify-content: end;
        width: 80%;
    }
}