.login{
    background: url('../assets/loginFondo.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    text-decoration: none;
    color: black;
    width: 5%;
    position: absolute;
    top:2%;
    left: 1vw;

}

@media (max-width:1300px) {
    .login{
        background-position: center;
        background-size: cover;   
    }
}

@media (max-width:768px) {
    .back{
        width: 10%;
    }
}