.menu {
    width: 30%;
    background-color: #E4F1F8;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    animation: openMenuAnimation;
    animation-duration: .3s;
}

.openMenu {
    width: 5%;
    animation: closeMenuAnimation;
    animation-duration: .3s;
}

@keyframes closeMenuAnimation {
    0% {
        width: 30%;
    }

    100% {
        width: 5%;
    }
}

@keyframes openMenuAnimation {
    from {
        width: 5%;
    }

    to {
        width: 30%;
    }
}

@keyframes closeMenuAnimationMobile {
    0% {
        width: 100%;
        height: 100vh;
    }

    100% {
        width: 5%;
        height: 5vh;
    }
}

@keyframes openMenuAnimationMobile {
    from {
        width: 5%;
        height: 5vh;
    }

    to {
        width: 100%;
        height: 100vh;
    }
}


.linksMenu {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1vw;
    padding: 1vw;
    align-items: center;
    font-weight: bolder;
    width: 100%;
}

.linksMenu>div {
    display: flex;
    gap: 2vw;
}

.btMenu {
    background: none;
    outline: none;
    border: 0;
}

.btOpen {
    padding: 1vw;
    width: 10%;
}

.buttons {
    width: 100%;
}

.activeMenu {
    background-color: #A6D0E7;
    border-left: 8px solid #00255C;
}

.closeLinks {
    display: none;
}


.linksOrder {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}

.linksDirector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.svgMenu {
    width: 40px;
}

@media screen and (max-width:1440px) {
    .svgMenu {
        width: 30px;
    }
}

@media screen and (max-width:1300px) {
    .menu {
        font-size: 24px;
        gap: 20px;
    }

    .linksMenu {
        gap: 20px;
    }
}

@media screen and (max-width:1024px) {
    .menu {
        font-size: 20px;
    }

    .svgMenu {
        width: 25px;
    }

    .activeMenu {
        border-left: 4px solid #00255C;
    }

    .openMenu {
        width: 6%;
    }

}

@media screen and (max-width:850px) {
    .menu {
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    .menu {
        position: fixed;
        width: 100%;
        z-index: 20;
        height: 100vh;
        animation: openMenuAnimationMobile;
        animation-duration: .3s;

    }

    .openMenu {
        width: auto;
        height: 7vh;
        border-radius: 10px;
        animation: closeMenuAnimationMobile;
        animation-duration: .3s;
    }

    .linksOrder {
        justify-content: start;
    }

    .mobile {
        display: none;
    }
    .linksMenu{
        width:100%;
        height: 20vh;
        border: 2px solid #00255C;
        border-radius: 0 30px 30px 30px;
    }
    .containerLink{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .buttons{
        width: 25%;
        height: 20vh;
    }
    .activeMenu{
        height: 20vh;
    }
    .closeSesion{
        width: 25%;
        height: 20vh;
        text-align: center;
    }
    .logout{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .linksDirector{
       flex-direction: row;
       flex-wrap: wrap;
    }
    .linksOrder{
        gap: 1vw;
    }
    .svgMenu {
        width: 40px;
    }
}

@media screen and (max-width:652px) {
    .svgMenu{
        width: 30px;
    }
    .openMenu{
        height: 5vh;
    }
    .linksMenu, .buttons{
        height: 15vh;
    }
    .menu{
        font-size: 16px;
    }

}
@media screen and (max-width:375px) {
    .buttons{
        width: 40%;
    }
    .logout{
        width: 100%;
    }
    .closeSesion{
        width: 40%;
    }
    .menu{
        font-size: 18px;
    }
    .linksDirector{
        gap: 2vw;
    }
    .linksOrder{
        gap: 2vw;
    }

}