.settingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    height: 80vh;
}

.settingList {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.829);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.settingForm{
    width: 100%;
    gap: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.passwordSettings{
    display: flex;
    padding: 1vw;
    justify-content: center;
    width: 100%;
}

.passwordInput{
    width: 50%;
    height: 50px;
    border-radius: 30px;
    font-size: 22px;
    padding: 1vw;
    outline: none;
    border: 0;
}

.buttonsDelete {
    padding: 1vw .5vw;
    background-color: white;
    color: black;
    width: 40%;
    font-size: 30px;
    border-radius: 40px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.titleSetting {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.imgSetting {
    width: 20%;
}

.titleSetting>h1 {
    font-size: 40px;
    font-weight: 800;
}

.nameSetting {
    text-transform: capitalize;
}

.textSetting {
    font-size: 28px;
}

.settingDescription {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.buttonSettingsContainer {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.buttonSetting {
    background-color: #00255c;
    color: white;
    font-size: 30px;
    padding: .5vw 3vw;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;

}

.data {
    text-transform: capitalize;
}


@media screen and (max-width:1440px) {
    .titleSetting>h1 {
        font-size: 38px;
    }

    .settingList {
        width: 50%;
    }
}

@media screen and (max-width:1200px) {
    .titleSetting>h1 {
        font-size: 34px;
    }

    .textSetting {
        font-size: 24px;
    }
}

@media screen and (max-width:1024px) {
    .buttonSetting {
        font-size: 24px;
    }
}

@media screen and (max-width:768px) {
    .titleSetting>h1 {
        font-size: 30px;
    }

    .imgSetting {
        width: 30%;
    }

    .settingList {
        width: 70%;
        padding: 30px;
        justify-content: space-around;
    }

}

@media screen and (max-width:650px) {
    .titleSetting>h1 {
        font-size: 5vw;
    }
}

@media screen and (max-width:650px) {
    .titleSetting>h1 {
        font-size: 5vw;
    }

    .textSetting{
        font-size: 20px;
    }

    .settingList {
        width: 80%;
        padding: 30px;
        justify-content: space-around;
    }

}

@media screen and (max-width:425px) {
    .buttonSetting {
        font-size: 18px;
    }
}