.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background-color: white;
    padding-bottom: 2vw;
    width: 100%;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.363);
}

.headTable {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2vw;
    font-size: 30px;
    align-items: center;
    width: 100%;
    gap: 1vw;
}

.viewPlani{
    font-size: 24px;
    padding: .5vw 1.4vw;
    background-color: #00255C;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.svgtables {
    width: 30px;
    height: 30px;
}

.svgNextPrev {
    width: 50px;
    height: 50px;
}

.searchsvg {
    width: 35px;
    height: 35px;
    color: #00255C;
}

.addSearch {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.search {
    display: flex;
    align-items: center;
    background-color: #E4F1F8;
    border-radius: 30px;
    padding: .5vw;
    font-size: 24px;
    justify-content: center;
    gap: 2vw;
    width: 50%;
}

.searchButton {
    font-size: 30px;
    background: none;
    outline: none;
    border: 0;
}

.addButton,
.assignButton {
    font-size: 24px;
    padding: .5vw 1.6vw;
    background-color: #00255C;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.showButton {
    display: block;
}

.notShowButton {
    display: none;
}

.tableButton {
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
}


.buttonsTable {
    display: flex;
    gap: 1vw;
    justify-content: center;
}
.materiasSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputSearch {
    background: none;
    outline: none;
    border: 0;
    height: 2vw;
    font-size: 24px;
    width: 70%;
}

.formtable {
    display: flex;
    align-items: center;
    gap: 1vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #E4F1F8;
    text-transform: capitalize;
    padding: .5vw;
    font-size: 24px;
}

td {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    padding: 1vw;
    border-bottom: 1px solid black;
}

.titleTable {
    text-transform: capitalize;
}

.nextPrev {
    border: 0;
}

.nextPrevButton {
    background: none;
    border: 0;
    outline: none;
}

.nextPrev {
    display: flex;
    justify-content: space-between;
}

.subItem {
    padding: .4vw;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.act{
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.act:hover{
    background-color: #0947a5;
    transition: all .4s ease;
    scale: 1.1;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width:1300px) {
    .titleTable {
        font-size: 30px;
    }

    .searchButton,
    .inputSearch,
    .addButton,
    .assignButton,
    .viewPlani {
        font-size: 24px;
    }

    .inputSearch {
        height: 20px;
    }

    th {
        font-size: 20px;
    }

    td {
        font-size: 18px;
    }
}

@media screen and (max-width:1024px) {
    .titleTable {
        font-size: 28px;
    }

    .searchButton,
    .inputSearch,
    .addButton,
    .assignButton,
    .viewPlani {
        font-size: 20px;
    }

    .inputSearch,
    th {
        height: 18px;
    }

    td {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .subItem {
        display: flex;
        flex-direction: column;
    }

    .materiasSeccion {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        align-items: start;
    }

    .headTable {
        flex-direction: column;
    }

    .searchButton,
    .inputSearch,
    .addButton,
    .assignButton {
        font-size: 18px;
    }

    .viewPlani{
        font-size: 16px;
    }

    .inputSearch {
        height: 20px;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 8px;
        display: block;
    }

    th,
    td {
        font-size: 18px;
    }

    td {
        display: flex;
        gap: 1vw;
        border: 0;
        text-align: left;
        padding: 2vw;
    }

    .tableResponsive {
        border-bottom: 2px solid #00255C;
    }

    td:last-child {
        border-bottom: 0;
    }

    td::before {
        content: attr(data-label);
        width: 50%;
    }

    .nextPrev::before {
        content: none;
    }

    .nextPrev {
        border-bottom: 2px solid white;
    }

}

@media screen and (max-width:450px) {

    .searchButton,
    .inputSearch,
    .addButton,
    .assignButton,
    .viewPlani {
        font-size: 14px;
    }

    th,
    td {
        font-size: 14px;
    }
}